{% extends 'base.html' %}

{% block content %}
<div class="title alex-title">
    <h1>Blog</h1>
</div>  
<div class="text">
    <h1>Fuck you Alex</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus ratione rerum sequi atque ut quas 
        commodi eum fuga, vero, accusantium asperiores, nulla molestiae esse nobis earum minima eligendi nostrum 
        praesentium at aspernatur adipisci? Soluta quas exercitationem quisquam qui optio, culpa ducimus omnis iste 
        corporis fuga, possimus, quae temporibus? Animi quaerat, non distinctio aspernatur veritatis possimus 
        mollitia. Totam, cum, animi rem aut sed doloribus, earum impedit doloremque sunt voluptatem illo? Mollitia 
        dicta distinctio deleniti soluta eligendi libero aliquam expedita nisi error cumque odio quam quis quas 
        enim, nemo ipsa quibusdam beatae velit consequatur non laborum. Ducimus quas commodi saepe officia culpa 
        eaque officiis animi. Voluptatum sequi eaque fugit, amet assumenda fugiat quam quas dolorem repellat ipsa 
        nihil dolorum dolores, molestias et quidem nemo iste non accusantium mollitia ut officiis perspiciatis 
        nam commodi. Quam pariatur ea eligendi minus, incidunt sit, neque ducimus molestiae iusto reprehenderit 
        corrupti, suscipit repellat soluta sequi blanditiis a nulla? Soluta repellendus suscipit vel? Vero deleniti 
        dolor corrupti quos architecto consequatur. Similique delectus optio molestiae ab. At voluptatem porro 
        eligendi omnis dolorem esse? Magnam corrupti molestias quia fuga eligendi obcaecati ratione laboriosam 
        aperiam nobis illo iste dolores quidem consequuntur ex quae, dolore accusamus assumenda maiores, tenetur 
        officiis rerum excepturi.
    </p>
    <div class="rosanna">
        <img src="../static/img/rosanna.jpg" alt="Rosanna Fenn" width="250px">
        <p>A picture of Rosanna Fenn</p>
    </div>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum natus aperiam vero, assumenda voluptate 
        inventore nulla unde. Asperiores illum harum quidem eius! Alias omnis consequuntur, tenetur est consectetur 
        dicta enim placeat hic voluptatibus nobis! Commodi quasi quo, debitis aperiam est nobis consectetur velit 
        quaerat itaque architecto repellendus? Culpa deleniti aperiam, eaque quibusdam expedita dolores possimus 
        cumque cupiditate corrupti numquam enim consectetur laborum dicta nobis laboriosam, maiores doloribus 
        nam ipsam ducimus ea. Vel maxime sapiente magnam? Molestias officia nostrum voluptatum ex, harum voluptatibus
        vitae perspiciatis laboriosam minima voluptatem doloremque vel odio nihil adipisci expedita eveniet 
        oluptas beatae magnam maiores illum. Doloremque non necessitatibus eaque veniam culpa animi aut hic autem 
        quos officiis, alias mollitia voluptatum, voluptas quas itaque corporis vel quis quam. Porro, cum 
        perspiciatis? Ullam sunt est consectetur eaque! Dolore cumque, doloremque fugit aperiam cupiditate placeat 
        praesentium animi corporis maxime quidem quis velit consectetur vel aliquid culpa nam necessitatibus 
        quae. Incidunt aliquam temporibus dolor ratione perferendis accusamus esse excepturi officiis officia 
        distinctio, ex voluptatibus, placeat ullam consequuntur illo soluta. Distinctio, quisquam sunt eos, 
        accusantium maxime ut et quibusdam cumque aliquam necessitatibus totam quam nulla accusamus repellendus 
        sapiente recusandae voluptatum veniam deleniti. Nemo aperiam corporis exercitationem maiores quisquam c
        onsequuntur? Labore nobis voluptates, quas aliquid, impedit sit beatae iste dolores eius similique, quos 
        accusamus suscipit commodi quae facilis soluta saepe. Doloribus laborum deserunt sed magnam impedit nihil,
            autem deleniti cumque doloremque vero rem saepe sapiente? Sapiente minima consequuntur libero odio ipsum. 
            Odit quos officia earum esse quia accusamus fuga, nobis maxime corrupti.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, asperiores eum. Odio ipsa esse necessitatibus 
        molestias animi, magni quia fuga, tempore alias ullam obcaecati. Expedita, suscipit. Commodi cupiditate eum enim?
    </p>
</div>
</div>
{% endblock %}